Repository facelessuser/BracketHighlighter, pull requests merged in 2020-02, with the labels that each got.

#540 Fix Markdown typo in swap and wrap commands
  bh_swapping.sublime-settings
  bh_wrapping.sublime-settings
Labels: C: settings, C: source, C: swapping, C: wrapping, S: approved

#544 Fix content align bug
  .pyspelling.yml
  CHANGES.md
  bh_regions.py
  support.py
Labels: C: docs, C: infrastructure, C: regions, C: source, S: approved

#546 Remove clone workaround and update docs theme and add discord link
  CHANGES.md
  bh_core.py
  bh_regions.py
  docs/src/dictionary/en-custom.txt
  mkdocs.yml
  readme.md
  support.py
  tox.ini
Labels: C: core, C: docs, C: infrastructure, C: regions, C: source, S: approved
