Repository facelessuser/BracketHighlighter, pull requests merged in 2023-08, with the labels that each got.

#617 Add support for Ruby endless method
  CHANGES.md
  bh_core.py
  bh_core.sublime-settings
  bh_modules/rubykeywords.py
  messages.json
  messages/recent.md
  support.py
Labels: C: infrastructure, C: source, C: docs, C: plugins, C: core, C: settings, S: approved

#619 Add ColdFusion arrow function scope exclusion
  bh_core.sublime-settings
Labels: C: source, C: core, C: settings, S: approved

#620 Update version
  CHANGES.md
  docs/src/dictionary/en-custom.txt
  support.py
Labels: C: source, C: docs, S: approved
